
#fmm{
    font-size: 30px;
} 
#dmd{
    font-size: 20px;
    color: white;
}
#p1{
    font-size: 20px;
}
#p2{
    font-size: 20px;
}
#p3{
    font-size: 20px;
}
#pd{
    text-decoration: solid;
    font-size: 30px;
}
#mp{
    text-decoration: solid;
    font-size: 30px;
}
#cp{
    text-decoration: solid;
    font-size: 30px;
}
#vq{
    text-decoration: solid;
    font-size: 30px;

}
#vqp{
    text-decoration: solid;
    font-size: 20px;

}
#vqpi{
    border: 2px solid black;
}
#au{
    color: white;
    text-decoration: solid;
    font-size: 10px;
}
#wf{
    color: white;
    text-decoration: solid;
    font-size: 10px;
}
#rp{
    color: white;
    text-decoration: solid;
    font-size: 10px;
}